<h1>Login Page</h1>

{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}

<form action="" method="post">

    {% csrf_token %}
    <div class="username">
      <label for="username">username</label>
      <input type="text" id="username" name="username">
    </div>
    <div class="password">
        <label for="password">password</label>
        <input type="text" id="password" name="password">
    </div>
    <button type='submit'>login</button>
    <p>need register? <a href="{% url 'register' %}">register</a> </p>
</form>
